@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.containerAdmin {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100em;
  
    font-family: 'Open Sans', sans-serif;

    background-color: $black;

    .headerAdmin {
        width: 100%;
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btnStyle {
        @include btnOne
    }

    .nameStyle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2em;
        color: $white ;
    }

    .listContainer {

        display: flex;
        flex-direction: row;
        background-color: $black;
        color: $white ;
        margin: 1em;

        .usersContainer {
            margin-top: 1em;
        }

        .rentalsContainer {
            margin-top: 1em;
        }

        .userData {
            text-align: center;
            width: 25em;
            height: 5em;
            color: $white ;
            margin: 1em;
            margin-right: 1em;
        }

        .rentData {
            text-align: center;
            width: 25em;
            height: 5em;
            margin: 1em;
            color: $white ;
            margin-left: 1em;
        }
    
    }
 
}
