.containerAdmin {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50em;
  

    background-color: $black;

    .headerAdmin {
        width: 100%;
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btnStyle {
        margin-left: 2em;
        margin-right: 2em;
        width: 6em;
        height:3em;
    }

    .nameStyle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2em;
        color: $white ;
    }

    .listStyle {
        width: 20em;
        height: 20em;
        margin-top: 2em;
        color: $white ;
        margin-right: 8em;
    }

    .userData {
        text-align: center;
        width: 25em;
        height: 5em;
        color: $white ;
    }

    .showData {
        margin: .5em;
    }
 
}
