// import { FaRegUserCircle, FaRegTimesCircle } from "react-icons/fa";


Label {
    display: block;
	    font-weight: 700;
	    padding: 10px;
	    min-height: 40px;
	    cursor: pointer;
}
// ${props => props.valido === 'false' && css`
//     color: ${colores.error};
// `}

ErrorLegend {
    font-size: 12px;
	margin-bottom: 0;
	color: $red;
	display: none;
}

// #{props => props.valido === 'true' && css`
//     display: none;
// `}
// #{props => props.valido === 'false' && css`
//     display: block;
// `}

ValidationIcon {
    position: absolute;
	right: 10px;
	bottom: 14px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

// ${props => props.valido === 'false' && css`
//     opacity: 1;
//     color: ${colores.error};
// `}
// ${props => props.valido === 'true' && css`
//     opacity: 1;
//     color: ${colores.exito};
// `}

ErrorMessage {
    height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0px 15px;
	border-radius: 3px;
	grid-column: span 2;
	p {
		margin: 0;
	} 
	b {
		margin-left: 10px;
	}
}

SuccessMessage {
    font-size: 14px;
	color: $green;
}


InputGroup {
    position: relative;
	z-index: 90;
}


FormComponent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

    // @media (max-width: 800px){
	// 	grid-template-columns: 1fr;
    // }


BtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 2;

}


      //     @media (max-width: 800px){
    //         grid-column: span 1;
    //     }


Input {
  width: 100%;
	background: $black;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
	border: 3px solid transparent;
	&:focus {
		border: 3px solid $white;
		outline: none;
		box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
	}

}

// ${props => props.valido === 'true' && css`
//     border: 3px solid transparent;
// `}
// ${props => props.valido === 'false' && css`
//     border: 3px solid ${colores.error} !important;
// `}
	