
.btnSomething{
  background-color: $darkgreen;
  &:hover {
    background-color: $green;
<<<<<<< HEAD
  }
}

.modal {
  width: 15em;
  height: 30em;
  background-color: $black;
}

.header .modal-header {
  height: 5em;
  font-size: 2em;
  background-color: $black;
}

.body {
  width: 15em;
  height: 30em;
  background-color: $black;
}

.footer {
  background-color: $black;
}

=======
}
.btnModalActive{
    @include btnSesion
}
.btn-secondary {
    color: #fff;
    background-color: $darkgreen;
    border-color: #6c757d;
}
>>>>>>> ba92459e684c09e15922687fb1647487646ee556
