.homeMovie {
    display: flex;
    flex-direction: column;
    align-items: center;
  

    background-color: $black;

    height: 100vh;
    width: 100%;

    .searchResult {
        display: grid;
        width: 100em;
        grid-template-columns: repeat(3,auto);
     
    }
}