.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    width: 100%;
    height: 100vh;
    

}
.homeMovie {
    display: flex;
    flex-direction: column;
    align-items: center;
  

    background-color: $black;

    height: 100vh;
    width: 100%;
    .backgroundImage{
        width: 100%;
        height:35em;
        position: absolute;
        z-index: 123;
    }    

    .headerHomeMovie{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 6em;
        position: relative;
        z-index: 500;

        .containsNavbar{
            margin-left: 2em;
            margin-top: 1em;
            align-items: center;
            width: 30%;
            justify-content: flex-start;

            
        }
        .containsLogo{
            width: 40%;

        }
        .searchHeader{
            align-items: center;
            justify-content: flex-end;
            width: 30%;

        }

    }
    .containsSearch{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1em;

        



       .textHomeSearch {
            color: $white;
            position: relative;
            z-index: 500;
        }

        .searchResult {
            display: grid;
            position: relative;
            z-index: 500;
            
            grid-template-columns: repeat(3, auto);
            margin-top: 1em;
            margin-bottom: 2em;
            

            .imageSearchHomeMovie{
                margin-left: 2em;
                height: 20em;
               
                

            }
            

            .titleMovie {
                color: $white;
            } 
        }
    
     
    }
}