/*Colors*/
/*Sizes*/
/*Margin and Padding*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.stepCollection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  height: 100vh; }
  .stepCollection .nav {
    width: 480px;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .stepCollection .nav .go {
      cursor: pointer;
      color: #295f4e;
      font-size: larger; }
    .stepCollection .nav .toRegister {
      color: #6db193; }
  .stepCollection Form {
    height: 224px;
    width: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #f4e5c2; }
    .stepCollection Form Input {
      margin-top: 10px; }
    .stepCollection Form .registerButton {
      width: 9em;
      height: 2em;
      background-color: #295f4e;
      transition: 0.7s;
      border-radius: 0.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #f4e5c2; }
      .stepCollection Form .registerButton:hover {
        background-color: #6db193;
        transition: 0.7s; }

.loginBody {
  width: 100%;
  height: 43em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232; }
  .loginBody .imgGeek {
    width: 40px;
    height: 128px;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  .loginBody .formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .loginBody .formContainer .inputs {
      height: 25em;
      color: #f4e5c2;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .loginBody .formContainer .inputs .titleLoginDown {
        width: 320px;
        height: 480px; }
        .loginBody .formContainer .inputs .titleLoginDown p {
          color: #6db193;
          font-family: 'Inter', sans-serif;
          font-size: 32px; }
    .loginBody .formContainer .contentLogin {
      width: 480px;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .loginBody .formContainer .contentLogin .titleLoginUp {
        color: #f4e5c2;
        font-size: 20px;
        font-family: 'Noto Sans', sans-serif; }
      .loginBody .formContainer .contentLogin .imgLogin {
        width: 224px; }
        .loginBody .formContainer .contentLogin .imgLogin .img {
          height: 320px;
          width: 23em;
          border-radius: 16px; }
  .loginBody .btnStyle {
    margin-top: 1em;
    width: 9em;
    height: 2em;
    background-color: #295f4e;
    transition: 0.7s;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f4e5c2; }
    .loginBody .btnStyle:hover {
      background-color: #6db193;
      transition: 0.7s; }
  .loginBody .errorMessage {
    color: #f4e5c2;
    font-family: 'Inter', sans-serif;
    font-size: 32px; }

.paymentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70em;
  background-color: #323232; }
  .paymentContainer .visa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .paymentContainer .visa .visaText {
      color: #f4e5c2; }
    .paymentContainer .visa .visaInput {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5em; }
  .paymentContainer .date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em; }
    .paymentContainer .date .dateText {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f4e5c2; }
    .paymentContainer .date .date-field {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 18em;
      margin-top: 0.5em; }
  .paymentContainer .cvv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    flex-direction: column; }
    .paymentContainer .cvv .cvvText {
      color: #f4e5c2; }
    .paymentContainer .cvv .cvvInput {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5em; }
  .paymentContainer .cardName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    flex-direction: column; }
    .paymentContainer .cardName .nameText {
      color: #f4e5c2; }
    .paymentContainer .cardName .nameInput {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5em; }
  .paymentContainer .payBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em; }
  .paymentContainer Button {
    width: 9em;
    height: 2em;
    background-color: #295f4e;
    transition: 0.7s;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f4e5c2; }
    .paymentContainer Button:hover {
      background-color: #6db193;
      transition: 0.7s; }
  .paymentContainer .errorMessage {
    width: 5em;
    height: 1em;
    color: #f4e5c2;
    font-family: 'Inter', sans-serif;
    font-size: 32px; }

.nav {
  width: 480px;
  height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .nav .go {
    cursor: pointer;
    color: #295f4e;
    font-size: larger; }
  .nav .toPayment {
    color: #6db193; }

.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #323232; }
  .homeContainer .header {
    background-color: #323232b7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 123; }
    .homeContainer .header .containerEmpty {
      width: 20%;
      height: 5em; }
    .homeContainer .header .containerLogo {
      width: 60%;
      height: 5em;
      display: flex;
      justify-content: center;
      align-items: center; }
      .homeContainer .header .containerLogo .logo {
        display: flex;
        justify-content: center;
        height: 4em;
        width: 6em; }
    .homeContainer .header .loginContainer {
      width: 20%;
      height: 5em;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 2em;
      position: relative;
      z-index: 500; }

.imgMovie {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: .4; }

.textForRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 48em;
  color: white; }
  .textForRegister .textRegisterTitle {
    width: 50%;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Inter', sans-serif; }
  .textForRegister .textRegisterSubtitle {
    width: 55%;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }
  .textForRegister .textRegisterFinal {
    width: 50%;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }
    .textForRegister .textRegisterFinal .styleLink {
      color: #6db193;
      font-family: 'Inter', sans-serif; }
    .textForRegister .textRegisterFinal .styleLink:hover {
      color: red; }

.joinTv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 28em;
  background-color: black;
  border-top: #323232 8px solid; }
  .joinTv .textPrincipalJoinTv {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .joinTv .textPrincipalJoinTv .textTitleJoinTv {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 80%;
      height: 50%;
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 2.5em;
      text-align: left;
      margin-left: 20%; }
    .joinTv .textPrincipalJoinTv .textSecundaryJoinTv {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 80%;
      height: 50%;
      color: white;
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.25em;
      text-align: left;
      margin-left: 20%; }
  .joinTv .imageJoinTv {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .joinTv .imageJoinTv .videoTrailer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }

.joinSeries {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 28em;
  background-color: black;
  border-top: #323232 8px solid; }
  .joinSeries .textPrincipalJoinSeries {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .joinSeries .textPrincipalJoinSeries .textTitleJoinSeries {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 80%;
      height: 50%;
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 2.5em;
      text-align: left;
      margin-right: 20%; }
    .joinSeries .textPrincipalJoinSeries .textSecundaryJoinSeries {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 80%;
      height: 50%;
      color: white;
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.25em;
      text-align: left;
      margin-right: 20%; }
  .joinSeries .imageJoinSeries {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .joinSeries .imageJoinSeries .seriesTrailer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }

.userContainer {
  background-color: #323232;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row; }
  .userContainer .logoGeek {
    height: 480px;
    width: 224px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 16px;
    margin-bottom: 224px; }
    .userContainer .logoGeek .userMenu {
      width: 224px;
      height: 192px;
      margin-top: 96px;
      display: flex;
      flex-direction: column; }
  .userContainer .dataUser {
    height: 700px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .userContainer .dataUser .picProfile {
      height: 224px;
      width: 224px;
      border: solid #295f4e 1px; }
      .userContainer .dataUser .picProfile .imgAvatar {
        height: 224px;
        width: 224px; }

.homeMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  height: 100vh;
  width: 100%; }
  .homeMovie .textHomeSearch {
    color: #f4e5c2; }
  .homeMovie .searchResult {
    display: grid;
    width: 100em;
    grid-template-columns: repeat(3, auto);
    margin-top: 1em; }
    .homeMovie .searchResult .titleMovie {
      color: #f4e5c2; }

.containerAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50em;
  background-color: #323232; }
  .containerAdmin .headerAdmin {
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .containerAdmin .btnStyle {
    margin-left: 2em;
    margin-right: 2em;
    width: 6em;
    height: 3em; }
  .containerAdmin .nameStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
    color: #f4e5c2; }
  .containerAdmin .listStyle {
    width: 20em;
    height: 20em;
    margin-top: 2em;
    color: #f4e5c2;
    margin-right: 8em; }
  .containerAdmin .userData {
    text-align: center;
    width: 25em;
    height: 5em;
    color: #f4e5c2; }
  .containerAdmin .showData {
    margin: .5em; }

.showMoviesContainer {
  width: 100%;
  height: 100em;
  background-color: #323232; }
  .showMoviesContainer .headerShowMovie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    color: #f4e5c2; }

.mainCarousel {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth; }
  .mainCarousel .carouselAdventure {
    height: 18em; }
    .mainCarousel .carouselAdventure .swiper-slide img {
      padding: 1em 1em;
      height: 12em;
      width: 100%; }
      .mainCarousel .carouselAdventure .swiper-slide img:hover {
        transform: scale(1.1);
        transform-origin: center;
        transition: 250ms all; }
  .mainCarousel .carouselComedy {
    height: 18em;
    padding: 0.5em; }
    .mainCarousel .carouselComedy .swiper-slide img {
      padding: 1em 1em;
      height: 12em;
      width: 100%; }
      .mainCarousel .carouselComedy .swiper-slide img:hover {
        transform: scale(1.1);
        transform-origin: center;
        transition: 250ms all; }
  .mainCarousel .carouselDrama {
    height: 18em; }
    .mainCarousel .carouselDrama .swiper-slide img {
      padding: 1em 1em;
      height: 12em;
      width: 100%; }
      .mainCarousel .carouselDrama .swiper-slide img:hover {
        transform: scale(1.1);
        transform-origin: center;
        transition: 250ms all; }

.searchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8vh;
  margin-right: 2em; }
  .searchContainer .searchBox {
    display: flex;
    width: 20em;
    border-radius: 0.5em; }
