/*Colors*/
/*Sizes*/
/*Margin and Padding*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.stepCollection {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  height: 100vh; }
  .stepCollection .nav {
    width: 480px;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .stepCollection .nav .go {
      cursor: pointer;
      color: #295f4e;
      font-size: larger; }
    .stepCollection .nav .toRegister {
      color: #6db193; }
  .stepCollection .registerForm {
    display: flex;
    flex-direction: column;
    color: #f8e9c4; }

.loginBody {
  width: 100%;
  height: 43em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232; }
  .loginBody .imgGeek {
    width: 40px;
    height: 128px;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  .loginBody .formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .loginBody .formContainer .contentLogin {
      width: 480px;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .loginBody .formContainer .contentLogin .titleLoginUp {
        color: #f8e9c4;
        font-size: 20px;
        font-family: 'Noto Sans', sans-serif; }
      .loginBody .formContainer .contentLogin .imgLogin {
        width: 224px; }
        .loginBody .formContainer .contentLogin .imgLogin .img {
          height: 320px;
          width: 23em;
          border-radius: 16px; }
  .loginBody .formLogin {
    height: 25em;
    color: #f8e9c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif; }
    .loginBody .formLogin select {
      margin-top: 1em; }

.paymentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70em;
  background-color: #323232;
  font-family: 'Open Sans', sans-serif; }
  .paymentContainer .nav {
    width: 480px;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .paymentContainer .nav .go {
      cursor: pointer;
      color: #295f4e;
      font-size: larger; }
    .paymentContainer .nav .toPayment {
      color: #6db193; }
  .paymentContainer .paymentForm {
    display: flex;
    flex-direction: column;
    color: #f8e9c4; }
    .paymentContainer .paymentForm select {
      background-color: #323232;
      border-radius: 3px;
      height: 35px;
      width: 60px;
      line-height: 45px;
      padding: 0 40px 0 10px;
      font-weight: bold; }

.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #323232; }
  .homeContainer .header {
    background-color: #323232b7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 123; }
    .homeContainer .header .containerEmpty {
      width: 20%;
      height: 5em; }
    .homeContainer .header .containerLogo {
      width: 60%;
      height: 5em;
      display: flex;
      justify-content: center;
      align-items: center; }
      .homeContainer .header .containerLogo .logo {
        display: flex;
        justify-content: center;
        height: 4em;
        width: 6em; }
    .homeContainer .header .loginContainer {
      width: 20%;
      height: 5em;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 2em;
      position: relative;
      z-index: 500; }
      .homeContainer .header .loginContainer .buttonHome {
        justify-content: center;
        color: #f8e9c4;
        text-transform: uppercase;
        background: #323232;
        padding: 20px;
        border: 4px solid #6db193 !important;
        border-radius: 6px;
        transition: all 0.3s ease 0s; }
        .homeContainer .header .loginContainer .buttonHome:hover {
          color: #f8e9c4 !important;
          border-radius: 50px;
          border-color: #295f4e !important;
          transition: all 0.3s ease 0s; }

.imgMovie {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: .4; }

.textForRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 30em;
  color: white;
  font-size: 24px; }
  .textForRegister .textRegisterTitle {
    width: 50%;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Inter', sans-serif; }
  .textForRegister .textRegisterSubtitle {
    width: 55%;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }
  .textForRegister .textRegisterFinal {
    width: 50%;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }
    .textForRegister .textRegisterFinal .styleLink {
      color: #6db193;
      font-family: 'Inter', sans-serif;
      font-size: 28px; }
      .textForRegister .textRegisterFinal .styleLink .titleRegister {
        border: none;
        background: #6db193;
        color: #f8e9c4 !important;
        font-weight: 100;
        padding: 20px;
        text-transform: uppercase;
        border-radius: 6px;
        display: inline-block;
        transition: all 0.3s ease 0s; }
        .textForRegister .textRegisterFinal .styleLink .titleRegister:hover {
          color: #404040 !important;
          font-weight: 700 !important;
          letter-spacing: 3px;
          background: #295f4e;
          box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
          box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
          transition: all 0.3s ease 0s; }
    .textForRegister .textRegisterFinal .styleLink:hover {
      color: red; }

.joinTv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 28em;
  background-color: black;
  border-top: #323232 8px solid; }
  .joinTv .textPrincipalJoinTv {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .joinTv .textPrincipalJoinTv .textTitleJoinTv {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 80%;
      height: 50%;
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 2.5em;
      text-align: left;
      margin-left: 20%; }
    .joinTv .textPrincipalJoinTv .textSecundaryJoinTv {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 80%;
      height: 50%;
      color: white;
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.25em;
      text-align: left;
      margin-left: 20%; }
  .joinTv .imageJoinTv {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .joinTv .imageJoinTv .videoTrailer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }

.joinSeries {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 28em;
  background-color: black;
  border-top: #323232 8px solid; }
  .joinSeries .textPrincipalJoinSeries {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .joinSeries .textPrincipalJoinSeries .textTitleJoinSeries {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 80%;
      height: 50%;
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 2.5em;
      text-align: left;
      margin-right: 20%; }
    .joinSeries .textPrincipalJoinSeries .textSecundaryJoinSeries {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 80%;
      height: 50%;
      color: white;
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.25em;
      text-align: left;
      margin-right: 20%; }
  .joinSeries .imageJoinSeries {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .joinSeries .imageJoinSeries .seriesTrailer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }

.userContainer {
  background-color: #323232;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif; }
  .userContainer .logoGeek {
    height: 480px;
    width: 224px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 16px;
    margin-bottom: 224px; }
    .userContainer .logoGeek .userMenu {
      width: 224px;
      height: 192px;
      margin-top: 96px;
      display: flex;
      flex-direction: column; }
      .userContainer .logoGeek .userMenu .btnMenu {
        border: none;
        background: #323232b7;
        color: #f8e9c4 !important;
        font-weight: 100;
        padding: 20px;
        text-transform: uppercase;
        border-radius: 6px;
        display: inline-block;
        transition: all 0.3s ease 0s; }
        .userContainer .logoGeek .userMenu .btnMenu:hover {
          color: #404040 !important;
          font-weight: 700 !important;
          letter-spacing: 3px;
          background: #295f4e;
          box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
          box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
          transition: all 0.3s ease 0s; }
  .userContainer .dataUser {
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
    .userContainer .dataUser .picProfile {
      height: 480px;
      width: 224px; }
      .userContainer .dataUser .picProfile .imgAvatar {
        height: 224px;
        width: 224px;
        border: solid #295f4e 1px; }
    .userContainer .dataUser .containerData {
      width: 224px;
      color: #f8e9c4; }
      .userContainer .dataUser .containerData select {
        background-color: #323232;
        border-radius: 3px;
        height: 35px;
        width: 60px;
        line-height: 45px;
        padding: 0 40px 0 10px;
        font-weight: bold; }

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif; }

.homeMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif; }
  .homeMovie .backgroundImage {
    width: 100%;
    height: 35em; }
  .homeMovie .headerHomeMovie {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6em; }
    .homeMovie .headerHomeMovie .containsNavbar {
      margin-left: 2em;
      margin-top: 1em;
      align-items: center;
      width: 30%;
      justify-content: flex-start; }
    .homeMovie .headerHomeMovie .containsLogo {
      width: 40%; }
    .homeMovie .headerHomeMovie .searchHeader {
      align-items: center;
      justify-content: flex-end;
      width: 30%; }
      .homeMovie .headerHomeMovie .searchHeader .userGreeting {
        margin-top: 1em;
        color: #f8e9c4; }
  .homeMovie .containsSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em; }
    .homeMovie .containsSearch .textHomeSearch {
      color: #f8e9c4;
      margin-left: 1em; }
    .homeMovie .containsSearch .searchResult {
      display: grid;
      grid-template-columns: repeat(3, auto);
      margin-top: 1em;
      margin-bottom: 2em; }
      .homeMovie .containsSearch .searchResult .imageSearchHomeMovie {
        margin-left: 2em;
        height: 20em; }
      .homeMovie .containsSearch .searchResult .titleMovie {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f8e9c4;
        margin-left: 2em;
        margin-top: 0.5em;
        margin-bottom: 2em; }

.containerAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100em;
  font-family: 'Open Sans', sans-serif;
  background-color: #323232; }
  .containerAdmin .headerAdmin {
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .containerAdmin .btnStyle {
    justify-content: center;
    color: #f8e9c4;
    text-transform: uppercase;
    background: #323232;
    padding: 20px;
    border: 4px solid #6db193 !important;
    border-radius: 6px;
    transition: all 0.3s ease 0s; }
    .containerAdmin .btnStyle:hover {
      color: #f8e9c4 !important;
      border-radius: 50px;
      border-color: #295f4e !important;
      transition: all 0.3s ease 0s; }
  .containerAdmin .nameStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
    color: #f8e9c4; }
  .containerAdmin .listContainer {
    display: flex;
    flex-direction: row;
    background-color: #323232;
    color: #f8e9c4;
    margin: 1em; }
    .containerAdmin .listContainer .usersContainer {
      margin-top: 1em; }
    .containerAdmin .listContainer .rentalsContainer {
      margin-top: 1em; }
    .containerAdmin .listContainer .userData {
      text-align: center;
      width: 25em;
      height: 5em;
      color: #f8e9c4;
      margin: 1em;
      margin-right: 1em; }
    .containerAdmin .listContainer .rentData {
      text-align: center;
      width: 25em;
      height: 5em;
      margin: 1em;
      color: #f8e9c4;
      margin-left: 1em; }

.movieInfo {
  width: 100%;
  height: 50em;
  background-color: #323232;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif; }
  .movieInfo .headerMovieInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5em; }
    .movieInfo .headerMovieInfo .logo {
      cursor: pointer; }
  .movieInfo .movieContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 100%;
    height: 30em;
    color: #f8e9c4; }
    .movieInfo .movieContainer .pictureDiv img {
      width: 20em;
      height: 28em; }
    .movieInfo .movieContainer .dataStyle {
      width: 20em;
      margin-left: 1.5em;
      text-align: left; }
      .movieInfo .movieContainer .dataStyle .genresDiv {
        margin-top: 1em; }
      .movieInfo .movieContainer .dataStyle .actorsDiv {
        margin-top: 1em;
        line-height: 125%; }
      .movieInfo .movieContainer .dataStyle .yearDiv {
        margin-top: 1em; }
      .movieInfo .movieContainer .dataStyle .plotDiv {
        margin-top: 1em;
        line-height: 125%; }
      .movieInfo .movieContainer .dataStyle .priceDiv {
        margin-top: 1em; }
  .movieInfo .buttonPosition {
    margin-top: 1em;
    margin-right: 2em;
    justify-content: center;
    color: #f8e9c4;
    text-transform: uppercase;
    background: #323232;
    padding: 20px;
    border: 4px solid #6db193 !important;
    border-radius: 6px;
    transition: all 0.3s ease 0s; }
    .movieInfo .buttonPosition:hover {
      color: #f8e9c4 !important;
      border-radius: 50px;
      border-color: #295f4e !important;
      transition: all 0.3s ease 0s; }
  .movieInfo .backButton {
    margin-top: 1em;
    justify-content: center;
    color: #f8e9c4;
    text-transform: uppercase;
    background: #323232;
    padding: 20px;
    border: 4px solid #6db193 !important;
    border-radius: 6px;
    transition: all 0.3s ease 0s; }
    .movieInfo .backButton:hover {
      color: #f8e9c4 !important;
      border-radius: 50px;
      border-color: #295f4e !important;
      transition: all 0.3s ease 0s; }

.containerHelp {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  font-family: 'Open Sans', sans-serif; }
  .containerHelp .headerHelp {
    background-color: #323232b7;
    width: 100%;
    display: flex; }
    .containerHelp .headerHelp .containsHelpNavbar {
      margin-left: 2em;
      margin-top: 1em;
      align-items: center;
      width: 35%;
      justify-content: flex-start; }
    .containerHelp .headerHelp .containsHelpLogo {
      display: flex;
      justify-content: flex-start;
      width: 60%; }
  .containerHelp .textHelp {
    width: 100%;
    height: 25em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
    color: #f8e9c4; }
    .containerHelp .textHelp .textTitleHelp {
      height: 3em;
      font-size: 38px; }
    .containerHelp .textHelp .textExplainHelp {
      height: 10em;
      padding: 0% 20%;
      font-size: 20px;
      line-height: 200%; }
  .containerHelp .helpPhotoDeveloper .photoDevelopers {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    margin-left: 0.8em; }

.userMovieContainer {
  width: 100%;
  height: 100em;
  background-color: #323232; }

.mainCarousel {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth; }
  .mainCarousel .titleCarousel {
    display: flex;
    height: 2em;
    color: #f8e9c4;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2.5em; }
  .mainCarousel .carouselAdventure {
    height: 18em; }
    .mainCarousel .carouselAdventure .swiper-slide img {
      padding: 1em 1em;
      height: 12em;
      width: 100%; }
      .mainCarousel .carouselAdventure .swiper-slide img:hover {
        transform: scale(1.1);
        transform-origin: center;
        transition: 250ms all; }
  .mainCarousel .carouselComedy {
    height: 18em;
    padding: 0.5em; }
    .mainCarousel .carouselComedy .swiper-slide img {
      padding: 1em 1em;
      height: 12em;
      width: 100%; }
      .mainCarousel .carouselComedy .swiper-slide img:hover {
        transform: scale(1.1);
        transform-origin: center;
        transition: 250ms all; }
  .mainCarousel .carouselDrama {
    height: 18em; }
    .mainCarousel .carouselDrama .swiper-slide img {
      padding: 1em 1em;
      height: 12em;
      width: 100%; }
      .mainCarousel .carouselDrama .swiper-slide img:hover {
        transform: scale(1.1);
        transform-origin: center;
        transition: 250ms all; }

.searchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8vh;
  margin-right: 2em; }
  .searchContainer .searchBox {
    display: flex;
    width: 20em;
    border-radius: 0.5em; }
