/*Colors*/
/*Sizes*/
/*Margin and Padding*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.stepCollection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #323232;
  height: 100vh; }
  .stepCollection .containerForm {
    display: flex;
    color: #f4e5c2; }

.loginBody {
  width: 100%;
  height: 100em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232; }
  .loginBody .formContainer {
    width: 30em;
    height: 80em;
    color: #f4e5c2; }
  .loginBody .buttonStyle {
    margin-top: 1em; }

.paymentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70em;
  background-color: #323232; }
  .paymentContainer .visa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .paymentContainer .visa .visaText {
      color: #f4e5c2; }
    .paymentContainer .visa .visaInput {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5em; }
  .paymentContainer .date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em; }
    .paymentContainer .date .dateText {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f4e5c2; }
    .paymentContainer .date .date-field {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 18em;
      margin-top: 0.5em; }
  .paymentContainer .cvv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    flex-direction: column; }
    .paymentContainer .cvv .cvvText {
      color: #f4e5c2; }
    .paymentContainer .cvv .cvvInput {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5em; }
  .paymentContainer .cardName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    flex-direction: column; }
    .paymentContainer .cardName .nameText {
      color: #f4e5c2; }
    .paymentContainer .cardName .nameInput {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5em; }
  .paymentContainer .payBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em; }

.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #323232; }
  .homeContainer .header {
    background-color: #323232b7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 123; }
    .homeContainer .header .containerEmpty {
      width: 20%;
      height: 5em; }
    .homeContainer .header .containerLogo {
      width: 60%;
      height: 5em;
      display: flex;
      justify-content: center;
      align-items: center; }
      .homeContainer .header .containerLogo .logo {
        display: flex;
        justify-content: center;
        height: 4em;
        width: 6em; }
    .homeContainer .header .loginContainer {
      width: 20%;
      height: 5em;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 2em;
      position: relative;
      z-index: 500; }

.imgMovie {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: .4; }

.textForRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 48em;
  color: white; }
  .textForRegister .textRegisterTitle {
    width: 50%;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Inter', sans-serif; }
  .textForRegister .textRegisterSubtitle {
    width: 55%;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }
  .textForRegister .textRegisterFinal {
    width: 50%;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }
    .textForRegister .textRegisterFinal .styleLink {
      color: #6db193;
      font-family: 'Inter', sans-serif; }
    .textForRegister .textRegisterFinal .styleLink:hover {
      color: red; }

.joinTv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 28em;
  background-color: black;
  border-top: #323232 8px solid; }
  .joinTv .textPrincipalJoinTv {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .joinTv .textPrincipalJoinTv .textTitleJoinTv {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 80%;
      height: 50%;
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 2.5em;
      text-align: left;
      margin-left: 20%; }
    .joinTv .textPrincipalJoinTv .textSecundaryJoinTv {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 80%;
      height: 50%;
      color: white;
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.25em;
      text-align: left;
      margin-left: 20%; }
  .joinTv .imageJoinTv {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .joinTv .imageJoinTv .videoTrailer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }

.joinSeries {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 28em;
  background-color: black;
  border-top: #323232 8px solid; }
  .joinSeries .textPrincipalJoinSeries {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .joinSeries .textPrincipalJoinSeries .textTitleJoinSeries {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 80%;
      height: 50%;
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 2.5em;
      text-align: left;
      margin-right: 20%; }
    .joinSeries .textPrincipalJoinSeries .textSecundaryJoinSeries {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 80%;
      height: 50%;
      color: white;
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.25em;
      text-align: left;
      margin-right: 20%; }
  .joinSeries .imageJoinSeries {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .joinSeries .imageJoinSeries .seriesTrailer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }

.btnClick {
  width: 9em;
  height: 2em;
  background-color: #295f4e;
  transition: 0.7s;
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4e5c2; }
  .btnClick:hover {
    background-color: #6db193;
    transition: 0.7s; }

.btnSomething {
  background-color: #295f4e; }
  .btnSomething:hover {
    background-color: #6db193; }

.modal {
  width: 15em;
  height: 30em;
  background-color: #323232; }

.header .modal-header {
  height: 5em;
  font-size: 2em;
  background-color: #323232; }

.body {
  width: 15em;
  height: 30em;
  background-color: #323232; }

.footer {
  background-color: #323232; }

.container-nav-progress {
  background-color: #323232;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .container-nav-progress .progressBar {
    width: 700px;
    background-color: #6db193; }
  .container-nav-progress .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }

html {
  scroll-behavior: smooth; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  height: 10em; }
  .wrapper section {
    width: 100%;
    height: 10em;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, auto);
    margin: 20px 0; }
    .wrapper section .item {
      padding: 0 2px;
      height: 10em;
      transition: 250ms all; }
      .wrapper section .item:hover {
        margin: 0 40px;
        transform: scale(1.2); }
    .wrapper section a {
      position: absolute;
      color: #f4e5c2;
      text-decoration: none;
      font-size: 6em;
      background: black;
      width: 80px;
      padding: 15px;
      text-align: center;
      z-index: 1; }
      .wrapper section a:nth-of-type(1) {
        top: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%); }
      .wrapper section a:nth-of-type(2) {
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%); }
