.button {
    width: 6em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #295F4E;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background: #6DB193;
  }