@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.loginBody {
  width: 100%;
  height: 43em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $black;

  .imgGeek {
  
    width: $mp-l;
    height: $mp-q;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    
  }

  .formContainer {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    //align-items: center;

    .contentLogin {
      width: $mp-x;
      height: $mp-w;

      display: flex; 
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .titleLoginUp {
        color: $white;
        font-size: $mp-i;

        font-family: 'Noto Sans', sans-serif;
      }

      .imgLogin {
       
        width: $mp-t;

        .img {
          height: $mp-w;
          width: 23em;

          border-radius: $mp-h;
        }
      }
    }

  }
  .formLogin {
    height: 25em;
    color: $white;

    display:flex;
    flex-direction: column;
    align-items: center;
    
    .select {
      margin-top: 1em;
    }
  }
}

