@mixin btnSesion {
    width: 9em;
    height: 2em;
    background-color: $darkgreen;
    transition: 0.7s;
    border-radius: 0.2em;
    display:flex;
    align-items: center;
    justify-content: center;
    color: $white;
       
    &:hover{
        background-color: $green;
        transition: 0.7s;
    }
}

@mixin btnOne ($firstColor: $darkgreen){
    justify-content: center;
    color: $white;
    text-transform: uppercase;
    background: $black;
    padding: 20px;
    border: 4px solid $green !important;
    border-radius: 6px;
    transition: all 0.3s ease 0s;

    &:hover{
        color: $white !important;
        border-radius: 50px;
        border-color: $firstColor !important;
        transition: all 0.3s ease 0s;
    }
}

@mixin btnTwo ($firstColor: $darkgreen) {
    border: none;
    background: $blacktrans;
    color: $white !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;

    &:hover{
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: $darkgreen;
        box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;   
    }
}

