.stepCollection {

    display: flex;
    flex-direction: column;
    align-items: center;
  

    background-color: $black;

    height: 100vh;
    
    .nav {
        width: $mp-x;
        height: $mp-p;

        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .go {
            cursor: pointer;
            color: $darkgreen;
            font-size: larger;
        }

        .toRegister {
            color: $green;
        }
                
        
    }

    .registerForm {
        display: flex;
        flex-direction: column;
    }

  
}

