.stepCollection {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: $black;

    height: 100vh;
    

    .containerForm {
        display: flex;

        color: $white;    
    }
}

