.stepCollection {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .stepOne {
        background-color: aquamarine;

        height: $mp-q;
        width: $mp-q;
    }
    .stepTwo {
        background-color: burlywood;
    }
    .stepThree {
        background-color: chocolate;
    }
}