//Importaciones de los archivos scss para compilar a css
@import './scss/variables';
@import './scss/mixins';


//Importación de contenedores con scss
@import './containers/register/register.scss';
@import './containers/login/login.scss';
@import './containers/payment/payment.scss';
@import './containers/home/home.scss';
@import './containers/userProfile/userProfile';
@import './containers/home-movie/home-movie';
@import './containers/home-admin/home-admin';
@import './containers/show-movie/show-movie';

//Importación de componentes con scss
@import './components/registerHeader/registerHeader';
@import './components/carousel/carousel.scss';
@import './components/btn/btn.scss';
@import './components/searchEngine/searchEngine.scss';


@import './components/input/elements';