//Importaciones de los archivos scss para compilar a css
@import './scss/variables';
@import './scss/mixins';


//Importación de contenedores con scss
@import './containers/register/register.scss';
@import './containers/login/login.scss';
@import './containers/payment/payment.scss';
@import './containers/home/home.scss';
@import './containers/userProfile/userProfile.scss';
@import './containers/home-movie/home-movie.scss';
@import './containers/home-admin/home-admin.scss';
@import './containers/show-movie/show-movie.scss';
@import './containers/help/help.scss';

//Importación de componentes con scss
@import './components/registerHeader/registerHeader';
@import './components/carousel/carousel.scss';
@import './components/searchEngine/searchEngine.scss';


