.userContainer {

    background-color: $black;
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: row;
  
    

    .logoGeek {
        height: $mp-x;
        width: $mp-t;

        display: flex;
        flex-direction: column;
        justify-content: left;

        margin: $mp-h;
        margin-bottom: $mp-t;
        
        .userMenu {
            width: $mp-t;
            height: $mp-s;
            margin-top: $mp-p;

            display: flex;
            flex-direction: column;

            .btnMenu {
                @include btnTwo
            }

        }
    }

    .dataUser {
        
        width: $mp-z;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    

        .picProfile {
            height: $mp-x;
            width: $mp-t;

            .imgAvatar {
                height: $mp-t;
                width: $mp-t;

                border: solid $darkgreen $size-aa;
            }
        }

        .containerData {
           width: $mp-t;
           

            select {
               background-color: $black;
               border-radius: 3px;
               height: 35px;
               width: 60px;
               line-height: 45px;
               padding: 0 40px 0 10px;
               font-weight: bold;
            }

        }
    }

}