@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.userContainer {
    height: 100%;
    width: 100%;
    background-color: $black;
    
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    .headerUserProfile{
        width: 100%;
        height: 6em;


        .logoG  {
            height: 0.1em;
            
            margin-top: 1em;
            
            align-items: flex-start;
            justify-content: flex-start;
            
        }
        .navbarContainer{
            margin-left: 2.5em;
        }
    }

    
    .dataUser {
        
        width: $mp-z;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
        
        .picProfile {
            height: $mp-x;
            width: $mp-t;
            
            .imgAvatar {
                height: $mp-t;
                width: $mp-t;
                
                border: solid $darkgreen $size-aa;
            }
            .userMenu {
                width: $mp-t;
                height: $mp-s;
                margin-top: $mp-h;
                
                display: flex;
                flex-direction: column;
        
                .btnMenu {
                    @include btnTwo;
                    
                }
        
            }
        }

        .containerData {
           width: $mp-t;
           color: $white;
           

            select {
               background-color: $black;
               border-radius: 3px;
               height: 35px;
               width: 60px;
               line-height: 45px;
               padding: 0 40px 0 10px;
               font-weight: bold;
            }

        }
    }

}