@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $black;

  .header {
    background-color: $blacktrans;
    width: 100%;
    //height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 123;
  
      .containerEmpty{
        width: 20%;
        height: 5em;
        
      }
      .containerLogo{
        width: 60%;
        height: 5em;
        display: flex;
        justify-content: center; 
        align-items: center;

        .logo{
          display: flex;
          justify-content: center;   
          height: 4em;
          width: 6em;
        }       
      }
      
      .loginContainer{
       width: 20%;
       height: 5em;
       display: flex;
       justify-content: flex-end;
       align-items: center;
       margin-right: 2em;
       position: relative;
       z-index: 500;
        
        .buttonHome {
          @include btnOne
        }
       
      }
  }
}


.imgMovie {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: .4;
}
.textForRegister{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 48em;
  color: white;
  
  

    .textRegisterTitle{
      width: 50%;
      margin-bottom: 1em;
      text-align: center;
      font-family: 'Inter', sans-serif;
    }
    .textRegisterSubtitle{
      width: 55%;
      margin-bottom: 1em;
      text-align: center;
      font-family: 'Noto Sans', sans-serif;
    }
    .textRegisterFinal{
      width: 50%;
      margin-bottom: 1em;
      text-align: center;
      font-family: 'Noto Sans', sans-serif;
      

        .styleLink{
          color: #5cffcb;
          font-family: 'Inter', sans-serif;          
        }
        .styleLink:hover{
          color: rgb(255, 0, 0);
        }

    }

}




.joinTv{
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 28em;
   background-color: black;
   border-top: $black 8px solid;
    .textPrincipalJoinTv{
      display: flex;
      flex-direction: column;
      width: 50%;

        .textTitleJoinTv{
          display: flex;
          justify-content: center;
          align-items: flex-end;
          width: 80%;
          height: 50%;
          color: white;
          font-family: 'Inter', sans-serif;
          font-size: 2.5em;
          text-align: left;
          margin-left: 20%;
          
          
        }
        
        .textSecundaryJoinTv{
          display: flex;
          justify-content: center;
          align-items: flex-start;
          width: 80%;
          height: 50%;
          color: white;
          font-family: 'Noto Sans', sans-serif;
          font-size: 1.25em;
          text-align: left;
          margin-left: 20%;
        }
        
    
    }
    .imageJoinTv{
      display: flex;
      flex-direction: column;
      width: 50%;

        .videoTrailer{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;

        }

    }
}
.joinSeries{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 28em;
  background-color: black;
  border-top: $black 8px solid;
   .textPrincipalJoinSeries{
     display: flex;
     flex-direction: column;
     width: 50%;

       .textTitleJoinSeries{
         display: flex;
         justify-content: center;
         align-items: flex-end;
         width: 80%;
         height: 50%;
         color: white;
         font-family: 'Inter', sans-serif;
         font-size: 2.5em;
         text-align: left;
         margin-right: 20%;
         
         
       }
       
       .textSecundaryJoinSeries{
         display: flex;
         justify-content: center;
         align-items: flex-start;
         width: 80%;
         height: 50%;
         color: white;
         font-family: 'Noto Sans', sans-serif;
         font-size: 1.25em;
         text-align: left;
         margin-right: 20%;
       }
       
   
   }
   .imageJoinSeries{
     display: flex;
     flex-direction: column;
     width: 50%;

       .seriesTrailer{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 100%;

       }

   }
}
 
 





