.homeContainer {
  width: 100%;
  /* height: 63vmax; */
  display: flex;
  flex-direction: column;
  background-color: turquoise;
}

.imgMovie {
  width: 100%;
  display: flex;
  justify-content: center;
}





