.homeContainer {
  width: 100%;
  /* height: 63vmax; */
  display: flex;
  flex-direction: column;
  background-color: #323232
}

.imgMovie {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header {
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  z-index: 2;
}




