.homeContainer {
  width: 100vmax;
  height: 63vmax;
  display: flex;
  flex-direction: column;
}

.userImage {
  width: 80%;
  background-color: black;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vmax;
  height: 62vmax;
  background-color:wheat;
  
}

