.movieInfo {
    width: 100%;
    height: 100em;
    background-color: $black;
    align-items: center;
    justify-content: center;
   
    .headerMovieInfo {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 5em;

        .logo {
            cursor: pointer;
        }

    }
    
    
    .movieContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        width: 100%;
        height: 30em;
        color: $white;

        .pictureDiv img{
            width: 20em;
            height: 28em;
            
        }


        .dataStyle {
            width: 20em;
            margin-left: 1.5em;
            text-align: left;
    
    
            .genresDiv {
                margin-top: 1em;
            }
        
            .actorsDiv {
                margin-top: 1em;
                line-height: 125%;
            }
        
            .yearDiv {
                margin-top: 1em;
            }
        
            .plotDiv {
                margin-top: 1em;
                line-height: 125%;
            }

            .priceDiv{
                margin-top: 1em;
            }
        
        }
    }
    .buttonPosition {
        margin-top: 1em;
        margin-right: 2em;
        @include btnOne

    }
    .backButton {
        margin-top: 1em;
        @include btnOne
    }
    
}