.movieInfo {
    width: 100%;
    height: 100em;
    background-color: $black;
   
    .headerMovieInfo {
        display: flex;
        justify-content: center;
        margin-right: 2em;
        align-items: center;
        height: 2em;
        color: $white;
    }

    .movieContainer {
        display: flex;
        margin-left: 2em;
        margin-top: 2em;
        width: 50em;
        height: 30em;
        color: $white;
    }

    .dataStyle {
        width: 50em;
        margin-left: 1em;
        text-align: left;
    }
    .genresDiv {
       margin-top: 1em;
    }

    .actorsDiv {
        margin-top: 1em;
    }

    .yearDiv {
        margin-top: 1em;
    }

    .plotDiv {
        margin-top: 1em;
    }

    .buttonPosition {
        margin-top: 1em;
    }
}