.showMoviesContainer {
    width: 100%;
    height: 100em;
    background-color: $black;
   
    .headerShowMovie {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2em;
        color: $white;
    
    }
}