@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.paymentContainer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70em;
    background-color: #323232;

    font-family: 'Open Sans', sans-serif;
    
    .nav {
        width: $mp-x;
        height: $mp-p;
    
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        .go {
            cursor: pointer;
            color: $darkgreen;
            font-size: larger;
        }
    
        .toPayment {
            color: $green;
        }
        
    }

    .paymentForm {
        display: flex;
        flex-direction: column;
        color: $white;

        select {
            background-color: $black;
            border-radius: 3px;
            height: 35px;
            width: 60px;
            line-height: 45px;
            padding: 0 40px 0 10px;
            font-weight: bold;
         }
    }

}

  
