.paymentContainer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70em;
    background-color: #323232;
    
    .visa {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .visaText {
            color: $white;

        }

        .visaInput {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.5em;
        }
    }

    .date {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1em;
        
        .dateText {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
        }
        .date-field {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 18em;

            margin-top: 0.5em;
        }
    }

    .cvv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
        flex-direction: column;

        .cvvText {
            color: $white;
        }

        .cvvInput {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.5em;

        }
    }

    .cardName{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
        flex-direction: column;
        
        .nameText {
            color: $white;
        }

        .nameInput {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.5em;

        }
    }

    .payBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }

}